/* ~xfnw's css! */
/* gpl affero v3 */
body {
background: #141415;
font-family: mono,monospace,sans-serif;
color: #cdcdcd;
max-width: 700px;
margin: 0 auto;
}

h1, h2, h3 {
	font-weight: 100;
}

a {
text-decoration: none;
color: #acc;
}

a:hover {
text-decoration: underline;
}


code, kbd, pre {
background: #222;
color: #eee;
}

pre {
padding: 3px;
border-radius: 0px 10px 10px 0px;
overflow:auto;
}





